@use "../globals/var" as v;

.header--wrap {
  background-color: v.$light-black;
  display: flex;
  justify-content: center;
}

.header {
  max-width: 1200px;
  padding: min(10vw, 4em) min(10vw, 5em) min(10vw, 8em);

  display: flex;
  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
  gap: 1em;

  color: white;

  &__heading {
    font-family: v.$oswald;
    font-size: min(15vw, 5.625rem);

    span {
      color: v.$beige;
    }
  }

  &__subtitle {
    font-size: min(5vw, 1.5rem);
    margin-top: auto;

    @media (max-width: 700px) {
      margin-top: 2em;
    }
  }

  &__button {
    display: block;
    width: fit-content;

    padding: 0.2em 1.2em;
    margin-top: 1em;

    border: none;
    border-radius: 2rem;

    color: white;
    background-color: v.$beige;

    font-family: v.$oswald;
    text-transform: uppercase;
  }
}
